<footer class="footer">

	<div class="contato" id="contato">
		<address>
			<strong>WhatsApp</strong>
			<em>11 3500-7861</em>
			<p>Atendimento em dias úteis, <br>das 9h às 18h.</p>
			<a href="https://api.whatsapp.com/send?phone=551135007861&text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20o%20checkout%20Vega" 
				title="WhatsApp web" target="_blank">
				WhatsApp web
			</a>
			<small class="qrcode">Aponte a câmera do seu celular para abrir o link</small>
		</address>

		<address>
			<strong>Ouvidoria</strong>
			<i>ouvidoria@vegacheckout.com.br</i>
			<p>Manifeste aqui opiniões, <br>reclamações ou dúvidas.</p>
			<a href="mailto:ouvidoria@vegacheckout.com.br" title="Enviar e-mail" target="_blank">Enviar e-mail</a>
		</address>

		<a class="move-up" href="#" title="Início"></a>
	</div>

	<div class="links">
		<div>
			<img src="{{ site.url }}/img/vega-simbol.svg" alt="Vega Checkout">
			<div>
				<a href="{{ site.url }}/#checkout" title="Checkout">Checkout</a>
				<a href="{{ site.url }}/#planos" title="Planos">Planos</a>
				<a href="{{ site.login }}" title="Acessar conta">Acessar conta</a>
			</div>
			<small>&copy; 2023 Vega Checkout | 34.109.335/0001-64</small>
		</div>

		<ul class="social">
			<li><a class="facebook" 
				href="https://www.facebook.com/vegacheckout.com.br"
				title="Facebook Vega"
				target="_blank">
				Facebook Vega</a>
			</li>
			<li><a class="instagram" 
				href="https://www.instagram.com/vegacheckout/"
				title="Instagram Vega"
				target="_blank">
				Instagram Vega</a>
			</li>
			<li><a class="youtube" 
				href="https://www.youtube.com/@vegacheckout/videos"
				title="YouTube Vega"
				target="_blank">
				YouTube Vega</a>
			</li>
		</ul>
	</div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{{ site.url }}/js/slick.min.js"></script>
<script src="{{ site.url }}/js/butter.js"></script>
<script src="{{ site.url }}/js/scripts.js"></script>