<header class="header" id="navbar">
  <div class="content">

    <figure class="logo">
      <a href="{{ site.baseurl }}/#checkout" title="Vega Checkout">
        <img src="{{ site.baseurl }}/img/vega.svg" alt="Vega Checkout">
      </a>
    </figure>

    <div class="menu">
      <a href="{{ site.baseurl }}/#checkout" title="Checkout" class="active">Checkout</a>
      <a href="{{ site.baseurl }}/#planos" title="Planos">Planos</a>
      <a href="{{ site.baseurl }}/#contato" title="Contato">Contato</a>
    </div>

    <div class="sign-up">
      <a href="#" title="Entrar">Entrar</a>
      <a href="#" title="Cadastre-se grátis">Cadastre-se grátis</a>
    </div>

    <button type="button" class="menu-mobile-button"></button>

  </div>
</header>
