<header class="header" id="navbar">
  <div class="content">

    <figure class="logo">
      <a href="{{ site.url }}/#checkout" title="Vega Checkout">
        <img src="{{ site.url }}/img/vega.svg" alt="Vega Checkout">
      </a>
    </figure>

    <div class="menu">
      <a href="{{ site.url }}/#checkout" title="Checkout">Checkout</a>
      <a href="{{ site.url }}/#planos" title="Planos">Planos</a>
      <a href="{{ site.url }}/#contato" title="Contato">Contato</a>
    </div>

    <div class="sign-up">
      <a href="https://nova.vegacheckout.com.br" title="Entrar">Entrar</a>
      <a href="https://nova.vegacheckout.com.br/users/signup" title="Cadastre-se grátis">Cadastre-se grátis</a>
    </div>

    <button type="button" class="menu-mobile-button"></button>

  </div>
</header>
